

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
}

.home {
    max-width: 45em;
    margin: auto;
    align-self: center;
    height: 100%;
    margin-top: 48px;
    text-align: center;
}

/* navbar */
.navbar {
    background-color: #333;
    min-height: 48px;
    z-index: 500;

}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.curr-page {
    background-color: #EAEAEa;
}

.dropdown {
    position: relative;
    float: left;    

}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    position: static;
    align-content: center;

}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    min-width: 97px;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid darkgray;
    white-space: nowrap;
    width: auto;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 1px;    
    position: absolute;
     
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 32px;
}

/* dots */
.active, .dot:hover {
    background-color: #717171;
}

.not-active{
    background-color: #bbb;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* images */

.img{
    object-fit: contain !important;
    align-items: center;
    max-width: 94%;  
    padding: 1%;
    padding-top:2%;
    
}

.page-head {
    margin-left : 4%;
    padding-top: 48px;
    font-size: 48px;
    width: 96%
}

.product {
    width: 30.3333333333%;
    max-height: 50%;
    overflow: hidden;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    margin-bottom: 3%;
}

.name {
    font-size: 18px;
    width: 48%;
    margin: auto;
    display: inline-block;
}